* {
  box-sizing: border-box;
}

.header {
  width: 348px;
  padding: 4px;
  background-color: #fd7e14;
  height: 37px;
  margin-bottom: 15px;
  border-radius: 2px;
  margin: 0 auto;
  /* margin-left: 10px; */
}
.filter {
  display: flex;
  /* justify-content: center; */
  /* width: 1024px; */
  /* margin: 0 auto; */
}
.button {
  /* padding: 10px 20px; */
  margin-left: 10px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  /* font-weight: bold; */
  border: 0;
  outline: none;
  /* border-radius: 0; */
  position: relative;
  border-radius: 12px;
  width: 36px;
  height: 30px;
  margin-bottom: 10px;
}

.button_type_all .button:last-child {
  margin-right: 0;
}
/* .button:active {
    bottom: -1px;
} */
.button_type_pn,
.button_type_vt,
.button_type_sr,
.button_type_cht,
.button_type_pt,
.button_type_sb,
.button_type_all {
  /* background: #266bf1; */
  background: #266bf1;
  border-radius: 1px;
  color: white;
}

.pn,
.vt,
.sr,
.cht,
.pt,
.sb {
  align-items: center;
  height: auto;
  width: 345px;
  border: 1.5px solid aqua;
  border-radius: 3px;
  display: grid;
  /* margin-left: 20px; */
  text-align: center;
  /* margin-bottom: 15px; */
  margin: 15px auto;
}

span {
  border: 1px solid #fd7e14;
  width: 55px;
  text-align: center;
  margin: 4px;
  height: 55px;
  line-height: 20px;
  border-radius: 2px;
  margin-top: -4px;
  margin-left: 10px;
}
.lesson1 {
  align-items: center;
  /* border: 1px solid black; */
  width: 335px;
  height: 65px;
  /* margin: 3px; */
  display: flex;
}
.span1 {
  /* margin-top: 0; */
  height: 55px;
  width: 280px;
  text-align: start;
  line-height: 13px;
}
h4,
p {
  margin-top: 4px;
  margin-left: 4px;
  margin: 3px;
  font-style: normal;
}
.fa.fa-user-circle-o {
  margin-left: 55px;
}
hr {
  border: 1px solid red;
}

.hide {
  display: none;
}

.active {
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 1px;
}
.lessonfrom {
  width: 30px;
  height: 20px;
  background: #4d81e9;
  align-items: center;
  margin-left: 15%;
  line-height: 19px;
  color: white;
  border-radius: 3px;
}
.fa-map-marker,
.fa-user-circle-o,
.fa-book {
  color: #fd7e14;
}
/* {
    color:;
} */
.fa-map-marker {
  margin-left: 5px;
}
/* h4 {
  font-family: "Inter", sans-serif;
} */
h4 {
  font-size: 13px;
}
.imagges {
  margin: 3px auto;

  width: 350px;
  height: 100px;
}
.logo-img {
  margin-left: 25%;
}
h6 {
  color: #266bf1;
}
